@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body{
    font-family: "Poppins", sans-serif;
    margin-left: 10px;
    padding: 0;
    font-size: 18px;
    animation: fade 500ms ease-in;
    background: linear-gradient(rgba(255,0,0,0.2), rgba(0,255,0,0.42));

}

/*The Title at the home page */
.CheatSheetTitle ,
.Title{
    color: #fff;
    text-align: center;
    font-size: xxx-large;
    animation: rbb 5s infinite ;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    padding: 10px;
    margin-top: -15px;
    -webkit-box-shadow:0px 0px 58px 12px rgba(141,143,47,0.9);
-moz-box-shadow: 0px 0px 58px 12px rgba(141,143,47,0.9);
box-shadow: 0px 0px 58px 12px rgba(141,143,47,0.9);
}
.table_of_content{
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(180,58,163,1) 0%, rgba(253,126,29,1) 48%, rgba(232,252,69,1) 100%);
    max-width: 9%;
    text-align: center;
    border-radius: 16px;
    padding: 10px 10px 10px 30px;
    margin-top: 80px;
    margin-left: -20px;
}
.arrow{
    width: 50px;
    border-radius: 16px;
    rotate: 270deg;
    margin-left: 10px;
    z-index: 0;
    left: 0;
    top: 0;
    position: fixed;
    transition: all 0.3s;
}
.arrow:hover{
    transform:scale(110%);
    animation: blink 1s infinite;

}
.navi {
    margin-left: 150px;
    overflow: hidden;
    z-index: 2;
    right: 0;
    top: 77px;
    position: fixed;
    border-bottom-left-radius: 16px;
}
.navi a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 2;
    display: grid;
    font-weight: bold;
    border-radius: 16px;
    transition: all 0.3s;
}
.navi a:hover {
    background: linear-gradient(270deg, rgba(63,62,65,1) 0%, rgba(163,163,163,1) 34%, rgba(230,230,230,1) 67%, rgba(84,83,83,1) 100%);
    color: black;
    z-index: 2;
    border-radius: 16px;
}
.navi a.active {
    border-radius: 16px;
    color: white;
    animation: rainbow 1s linear 0s infinite;
    background: linear-gradient(108deg, rgba(43,0,144,1) 0%, rgba(44,191,221,1) 100%);
}
.navi-button-img{
    width: 50px;
    float: right;
    transition: all 0.3s;
    z-index: 1;
    right: 0;
    top: 5px;
    position: fixed;
}
.navi .navigation-points{
    opacity: 0;
    display: none;
}
input[type="checkbox"]{
    display: none;
}
.navi input:checked~.navigation-points{
    opacity: 1;
    background: #efefef;
    height: revert;
    z-index: 1;
    display: flex;
}
.navi-button-img:hover{
    transform: scale(110%);
    cursor: pointer;
    animation: blink 1ms infinite ease-in-out;
}
 .list a{
    text-decoration: none;
}
article h1{
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 10px;
    border-radius: 26px;
}
.contents:hover{
    background: linear-gradient(to right,grey, transparent);
    border-radius: 4px;
    margin-left: 15px;
    box-shadow: 10px 10px dimgrey ;
}
.contents{
    transition: all 0.3s;
}
li::before{
    content: "<";
}
li::after{
    content: ">";
}
li::marker{
    content: none
}
.CSS_title,
.HTML_title,
.General_title{
    background: linear-gradient(90deg, rgba(180,58,163,1) 0%, rgba(253,126,29,1) 48%, rgba(232,252,69,1) 100%);
    padding-left: 3px;
    border-radius: 4px;
    color: white;
}
.CSS_title::before,
.HTML_title::before,
.General_title::before{
    content: "<|";
}

.CSS_title::after,
.HTML_title::after,
.General_title::after{
    content: "|>";
}

.CSS_title:hover,
.HTML_title:hover,
.General_title:hover{
    animation: fade 1s ease-out infinite;
    animation: rainbow 1s ease-out infinite;
}
html{
    scroll-behavior: smooth;
}
.list a:hover{
    background:linear-gradient(to right, dimgrey,whitesmoke);
    border-radius: 4px;
    padding: 3px;
    scale: 110%;
    margin-left: 10px;
    box-shadow: 10px 10px grey;
}
@keyframes fade {
    50%{
        opacity: 0.5;
    }
    0%,100%{
        opacity: 1;
    }
}
@keyframes rainbow {
    0% {
        color: mediumpurple;
    }
    50%{
        color: lavender;
    }
    100%{
        color: blue;
    }

}
.buttons{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.buttons .btn a{
    border: grey 2px solid;
    background:linear-gradient(to right, grey, transparent);
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px 24px;
    font-weight: 500;
    border-radius: 10px;
    height: 100%;
    transition: 0.5s;
    font-family: "Poppins",sans-serif;
}
.buttons .btn{
    margin: 16px;
    padding: 16px 24px;
    aspect-ratio: 16/9;
    width: 400px;

}
.buttons .btn a:hover{
    color: white;
    border: 2px black solid;
    background: radial-gradient(rgba(255,252,0,1) 0%, rgba(255,0,0,1) 100%);
    box-shadow: 10px 10px grey;
    transform: scale(120%);
}
@keyframes blink {
    50%{
        opacity: 0.5;
    }
    0%,100%{
        opacity: 1;
    }
}
@keyframes rbb {
    0% {
        background: rgba(180,58,163,1);
    }
    24%{
        background: rgba(253,126,29,1);
    }
    48%{
        background: rgba(232,252,69,1);
    }
    72%{
        background: red;
    }

    100%{
        background: violet;
    }

}

.contents table, td, tr, th{
    border: 1px black solid;
    border-collapse: collapse;
    padding: 10px;
}

.CheatSheetTitle{
    animation: chaous 500ms  infinite alternate;
}



@keyframes chaous{
    0%{
        scale: 110%;
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        scale: 100%;
    }
}