body{
    font-family: "Calibri Light";
    margin-left: 10px;
    padding: 0;
    font-size: 18px;
    background-color: darkgrey;
    animation: fade 500ms ease-in;
}

/*The Title at the home page */
.CheatSheetTitle {
    color: #002218;
    text-align: center;
    font-size: xxx-large;
    background: linear-gradient(to right,greenyellow, cyan);
}

/*The title of every page, general, html, css*/
.Title{
    text-align: center;
    font-weight: bolder;
    font-size: 46px;
    background: linear-gradient(to right,greenyellow, cyan);
    border-radius: 0;
    padding: 10px;
    z-index: 0;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    margin-top: -10px;
}

.table_of_content{
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right,greenyellow, cyan);
    max-width: 9%;
    text-align: center;
    border-radius: 16px;
    padding: 10px 10px 10px 30px;
    margin-top: 80px;
    margin-left: -20px;
}

.arrow{
    width: 50px;
    border-radius: 16px;
    rotate: -90deg;
    margin-left: 10px;
    z-index: 0;
    left: 0;
    top: 0;
    position: fixed;
    transition: all 0.3s;
}

.arrow:hover{
    transform:scale(110%);
}

.navi {
    margin-left: 150px;
    overflow: hidden;
    z-index: 2;
    left: 0;
    top: 5px;
    position: fixed;
}

.navi a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 2;
    display: grid;
    font-weight: bold;
    border-radius: 16px;
    transition: all 0.3s;

}

.navi a:hover {
    background:linear-gradient(to right, whitesmoke, grey);
    color: black;
    z-index: 2;
    border-radius: 16px;
}

.navi a.active {
    border-radius: 16px;
    color: white;
    animation: rainbow 1s linear 0s infinite;
    background: linear-gradient(108deg, rgba(43,0,144,1) 0%, rgba(44,191,221,1) 100%);
}

.navi-button-img{
    width: 50px;
    float: right;
    transition: all 0.3s;
    z-index: 1;
    right: 0;
    top: 5;
    position: fixed;
}

.navi .navigation-points{
    opacity: 0;
    display: none;
}

input[type="checkbox"]{
    display: none;
}

.navi input:checked~.navigation-points{
    opacity: 1;
    background: #efefef;
    height: revert;
    z-index: 1;
    display: flex;
    border-radius: 16px;
}

.navi-button-img:hover{
    transform: scale(110%);
    cursor: pointer;
}

 .list a{
    text-decoration: none;
}

article h1{
    background: linear-gradient(to right,greenyellow, cyan);
    padding: 10px;
    border-radius: 26px;
}

/*The contents of the questions*/

.contents:hover{
    background: linear-gradient(to right,grey, transparent);
    border-radius: 4px;
    margin-left: 15px;
    box-shadow: 10px 10px dimgrey ;
}

.contents{
    transition: all 0.3s;

}

.General_title {
    background: linear-gradient(to right,mediumpurple, cornflowerblue);
    padding-left: 3px;
    border-radius: 4px;
}

.HTML_title{
    background: linear-gradient(to right,mediumpurple, cornflowerblue);
    padding-left: 3px;
    border-radius: 4px;

}

.CSS_title{
    background: linear-gradient(to right,mediumpurple, cornflowerblue);
    padding-left: 3px;
    border-radius: 4px;
}

html{
    scroll-behavior: smooth;
}

.list a:hover{
    background:linear-gradient(to right, dimgrey,whitesmoke);
    border-radius: 4px;
    padding: 3px;
    scale: 110%;
    margin-left: 10px;
    box-shadow: 10px 10px grey;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rainbow {
    0% {
        color: mediumpurple;
    }
    50%{
        color: lavender;
    }
    100%{
        color: blue;
    }

}





